<ion-header-bar class="bar-positive">
  <h1 class="title">FuelBit</h1>
</ion-header-bar>
<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab title="My Vehicle" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline">
    <ion-content has-header="true">
      <ion-list>
        <ion-item class="row padding">
          <strong class="col">Model</strong>
          <div class="col col-75">{{vehicle.model}}</div>
        </ion-item>
        <ion-item class="row padding">
          <strong class="col">Year</strong>
          <div class="col col-75">{{vehicle.year}}</div>
        </ion-item>
        <ion-item class="row padding">
          <strong class="col">City MPG</strong>
          <div class="col">{{vehicle.cityMpg}}</div>
          <strong class="col">HW MPG</strong>
          <div class="col">{{vehicle.highwayMpg}}</div>
        </ion-item>
        <ion-item class="row padding">
          <strong class="col col-50">Recorded Miles</strong>
          <div class="col col-50">{{vehicle.recordedMiles}}</div>
        </ion-item>
        <ion-item class="row padding">
          <strong class="col">Status</strong>
          <div class="col col-75">{{vehicle.maintenanceNeeded ? 'Maintenance Needed' : 'OK'}}</div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-tab>
  <ion-tab title="Gas Usage" icon-on="ion-ios7-analytics" icon-off="ion-ios7-analytics-outline">
  </ion-tab> 
  <ion-tab title="Money Usage" icon-on="ion-ios7-pricetags" icon-off="ion-ios7-pricetags-outline">
  </ion-tab> 
</ion-tabs>
