.centered {
  text-align: center;
}

#mainHeader {
  padding: 20px;
}

#logo {
  height: 100%;
}

#model {
  text-align: center;
}

#home {
  padding-top: 10px;
}

#gasUsage {
  width: 100%;
  height: 400px;
}

#reports {
  font-size: 20px;
}

.bigish {
  font-size: 20px !important;
  margin-top: 13px;
}

.bighead {
  font-size: 30px !important;
  line-height: 30px !important;
  padding-top: 7px;
}

.headicon {
  margin-left: -80px !important;
}

.dayhead {
  font-size: 25px !important;
}

#compareDiv {
  margin-top: 100px;
}

#compareGraph {
  height: 300px;
  width: 100%;
}
